/* SideBar.css */
.sidebar {
  width: 260px;
  height: 100vh;
  position: fixed;
  background-color: #0a1e63;
  color: white;
  overflow-y: auto;
}

.avatar-container {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  color: white !important;
  padding: 0.5rem 1rem;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.nav-link.active {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
}

.badge {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Estilos para el btn de cerrar sesión */
.btn-link {
  color: #ff4f70 !important;
  width: 100%;
  text-align: left;
  padding: 0.5rem 1rem;
}

.btn-link:hover {
  background-color: rgba(255, 79, 112, 0.1);
  border-radius: 4px;
}
