/* HTML: <div class="loader"></div> */
.loader {
    width:30px;
    aspect-ratio: 1;
    background: #554236;
    display: grid;
    transform-origin: top right;
    animation: l6-0 1s infinite linear;
  }
  .loader::before,
  .loader::after {
    content: "";
    grid-area: 1/1;
    background: #f77825;
    transform-origin: inherit;
    animation: inherit;
    animation-name: l6-1;
  }
  .loader::after {
    background:#60B99A;
    --s:180deg;
  }
  @keyframes l6-0 {
    70%,
    100% {transform: rotate(360deg)}
  }
  @keyframes l6-1 {
    30% {transform: rotate(var(--s,90deg))}
    70% {transform: rotate(0)}
  }